# Output
fort.*
Pb208/
C14/
Sn100/
Sn132/

# Inputs


# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.la
*.a
*.lib

# Module files
*.mod

# Executables
*.exe
*.x

#Temporary and various
Old/
Data-Old/
Disp-Lev/
RPA/
*~
*.pdf
*.gnumeric
*.dat
